.dataTable table tbody td {
	-moz-user-select: none;
}
.dataTableHeader {
	background-color: ButtonFace;
}
.dataTableHeader th, .dataTableHeader td {
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	cursor: default;
}
.dataTableArrow {
	padding-left: 2px;
	padding-right: 2px;
}
.dataTableSelected td {
	background-color: Highlight;
	color: HighlightText;
}