BUTTON.calcTrigger {
	vertical-align:text-bottom;
	cursor:pointer;
	width:23px;
	background-color:transparent;
	border:none;
}

.calcTable {
	border: 1px solid;
	border-color: #fff #000 #000 #fff;
	cursor: default;
	background: #dddddd;
	color: WindowText;
	font-family: tahoma,verdana,sans-serif;
}

.calcInput {
	font-size: 12px;
	font-family: tahoma,verdana,sans-serif;
	width: 100px;
}

.calcRedButton, .calcBlueButton, .calcResultButton {
	cursor: pointer;
	text-align: center;
	padding: 1px;
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	background: ButtonFace;
	font-size: 10px;
}

BUTTON.calcButtonHilite {
	border: 2px solid;
	padding: 0px;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.calcResultButton {
	color: #000;
	width: 70px;
}

.calcRedButton {
	color: #ff0000;
	width: 30px;
}

.calcBlueButton {
	color: #0000ff;
	width: 30px;
}